﻿.pagination-ys {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pagination-ys table > tbody > tr > td {
        display: inline;
    }

        .pagination-ys table > tbody > tr > td > a,
        .pagination-ys table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            color: #dd4814;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            margin-left: -1px;
        }

        .pagination-ys table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            margin-left: -1px;
            z-index: 2;
            color: #aea79f;
            background-color: #f5f5f5;
            border-color: #dddddd;
            cursor: default;
        }

        .pagination-ys table > tbody > tr > td:first-child > a,
        .pagination-ys table > tbody > tr > td:first-child > span {
            margin-left: 0;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        .pagination-ys table > tbody > tr > td:last-child > a,
        .pagination-ys table > tbody > tr > td:last-child > span {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }

        .pagination-ys table > tbody > tr > td > a:hover,
        .pagination-ys table > tbody > tr > td > span:hover,
        .pagination-ys table > tbody > tr > td > a:focus,
        .pagination-ys table > tbody > tr > td > span:focus {
            color: #97310e;
            background-color: #eeeeee;
            border-color: #dddddd;
        }

.MyCalendar .ajax__calendar_container {
    border: 2px solid #000000;
    background-color: #ffffff;
    color: blue;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    width: 250px;
    height: 250px;
}

.MyCalendar .ajax__calendar_header {
    height: 20px;
    width: 100%;
    color: #555;
}

.MyCalendar .ajax__calendar_body {
    width: 210px;
    height: 190px;
}

.MyCalendar .ajax__calendar_day {
    width: 30px;
    height: 25px;
    border: 1px solid #949494;
    font-size: 12px;
}

.MyCalendar .ajax__calendar_today {
    background-color: blue;
    color: #ffffff;
}

.MyCalendar .ajax__calendar_dayname {
    width: 30px;
    height: 25px;
    text-align: center;
    background-color: #333;
    color: white;
    border: 1px solid #949494;
    font-size: 10px;
}

.MyCalendar .ajax__calendar_footer {
    padding-bottom: 3px;
}

.MyCalendar .ajax__calendar_active {
    background-color: #ff0065;
    color: white;
}

.MyCalendar .ajax__calendar_hover {
    background-color: #fca2d4;
    color: white;
}

.MyCalendar .ajax__calendar_next {
    color: #bbbbbb;
}

table th {
    text-align: center;
}
